@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-from-left {
    position: relative;
  }

  .underline-from-left::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #8080F5;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .underline-from-left:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .linear-gradient {
    background: linear-gradient(0deg, white, rgb(234, 232, 255) 80%);
  }

  .border-shadow {
    box-shadow: 12px 12px;
  }

  .margin {
    margin: auto;
  }

  .imgcontainer {
    background-color: rgba(0, 0, 255, 0.5);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .animate-scroll {
    display: flex;
    animation: scroll 10s linear infinite;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    /* Adjust based on your needs */
  }

  /* global.css */
/* Add this to your global CSS file */
.tooltip-container {
  position: relative;
  display: inline-block;
  /* overflow: hidden; Ensure the tooltip does not overflow the container */
}

.tooltip {
  position: absolute;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1000; /* Ensures it appears above other elements */
  max-width: 100%; /* Adjust as needed */
  display: none;
  left: 0;
  bottom: 100%; /* Position above the container */
  transform: translateY(-8px); /* Offset slightly above the container */
}

.tooltip-container:hover .tooltip {
  display: block;
}



}